body {
  /* font-family: Arial; */
  padding: 40px;
  background: #f0eeec;
}

/* Header/Blog Title */
.header {
  margin-top: 60px;
  font-size: 40px;
  text-align: center;
  background: white;
  border-radius: 20px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* blog list & detail picture */
#thumbnail{
  width: 250px;
  height: 250px;

}
#thumbnail-detail{
  width: 100%;
  max-width: 500px;
  height: 500px;
}

/* blog about pic */
#about-pic{
  width:215px;
  height: 200px;
  border-radius: 15px;
  /* padding-bottom: 5px; */
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1139px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
  #about-pic{
    width:230px;
  }
}
