
<div class="container" id="footer">
  <div class="text-center">
    <a href="https://twitter.com/DKMDebugin" target="_blank" id='twitter-icon'>
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://github.com/DKMDebugin" target="_blank" id="github-icon">
      <i class="fab fa-github-alt"></i>
    </a>
    <a href="https://www.instagram.com/dkmdebugin/" target="_blank" id="ig-icon">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.reddit.com/user/DKMDebugin" target="_blank" id="reddit-icon">
      <i class="fab fa-reddit"></i>
    </a>
    <a href="https://www.linkedin.com/in/dkmdebugin/" target="_blank" id='lk-icon'>
      <i class="fab fa-linkedin"></i>
    </a>
  </div>

  <p class="text-center"> &#169; 2019 Jamiu Olashile Salimon (DKMDebugin) <p>
</div>
