{% extends 'base.html' %}
{% load static %}

{% block blog_style %}
  <link rel="stylesheet" href="{% static 'blog/style.css' %}">
{% endblock %}

{% block content %}

  {% block header %}
    <div class="header">
      <h3>Welcome to DKMDebugin's Blog</h3>
    </div>
  {% endblock %}

  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      {% block post %}
      {% endblock %}
    </div>
    <div class="col-8 col-lg-3">
      <div class="card">
        <h2>Author</h2>
        <div>
          <img class="rounded-circle" id ="about-pic" src='{{'https://dkmdebugin.s3.amazonaws.com/media/profile.jpg'}}' alt="my-pic">
        </div>
        <hr>
        <p>......</p>
      </div>
      <div class="card">
        <h3>Popular Post</h3>
        <!-- <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div> -->
        .....
      </div>
      <div class="card">
        <h3>Follow Me</h3>
        <p>....</p>
      </div>
    </div>
  </div>


{% endblock %}
