{% extends 'blog/base.html' %}



{% block post %}

    <div class="card" >
      <h4 class="card-title">{{object.title}}</h4>
      <ul class="list-inline">
        <li class="list-inline-item"><small class="small">Published: {{object.date_created|date:"F d, Y"}}</small></li>
        {% if object.date_created|timesince:object.date_updated > object.date_created|timesince:object.date_created %}
          <li class="list-inline-item"><small class="small">|</small></li>
          <li class="list-inline-item">
            <small class='small'>Updated {{object.date_created|timesince:object.date_updated}} ago</small>
          </li>
        {% endif %}
      </ul>
        {% if object.link %}
          <small>
            <a href="{{object.link}}" class="card-link text-info" target="_blank">Click for more information.</a>
          </small>
        {% endif %}

      {% if object.image %}
        <img class="card-img img-fluid img-thumbnail mx-auto d-block mt-3 mb-3" id='thumbnail-detail' src="{{object.image.url}}" alt="">
      {% endif %}

      <p class="card-text mt-4">{{object.content}}</p>
    </div>

{% endblock %}
