{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit= no">
    <title>DKMDebugin's Portfolio</title>

    <!-- to load css-->
    {% include 'base/css.html' %}
    {% block blog_style %}{% endblock %}

  </head>
  <body id="body">
    {% include 'base/navbar.html' %}
    <main>

      {% block content %}{% endblock %}

    </main>
    <footer>
      {% include 'base/footer.html' %}
    </footer>

    <!-- to load js-->
    {% include 'base/js.html' %}

  </body>
  </body>
</html>
