{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

  <div class=" container mt-5 pt-5" id="contact-div">
    <div class="row">
      <div class="col-12 col-sm-10 col-md-8">
        <div id="contact-text">
          <h3>Let's work together...</h3>
          <p>How do you like your coffee?</p>
          {% if messages %}
            {% for message in messages %}
              <div {% if message.tags %} class="{{message.tags}}" {% endif %} role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <form class="form" method="post" >
          {% csrf_token %}
          {% bootstrap_form form %}

          {% buttons %}
            <button type="submit" class="btn btn-secondary">Submit</button>
          {% endbuttons %}

        </form>
      </div>
    </div>
  </div>

{% endblock %}
