{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% with 'https://dkmdebugin.s3.amazonaws.com/media/' as path %}
    <div id="main">

      <div class="text-center" id="welcome-section">
        <a href="https://github.com/DKMDebugin" target="_blank">
          <img id="welcome-pic" src='{{path}}{{'profile.jpg'}}' alt="profile-pic">
        </a>
        <h1>Welcome to DKMDebugin's Domicile.<br>
          My legal name is Jamiu Olashile Salimon.<br>
          I'm a software engineer currently based in Limerick, Ireland </h1>
      </div>

      <div class="container" id="projects">
        <h4>These are some of my projects...</h4>
        <div class="card-deck">
          <div class="project-tile">
            <div class="card" id="project-card">
              <a href="https://tcsys.herokuapp.com/" target="_blank">
                <img class="card-img-top" src='{{path}}{{'projects/ticketing-sys.png'}}' alt="project">
              </a>
              <div class="card-body" id="card-body">
                <p>Trouble Ticketing System</p>
              </div>
            </div>
          </div>
          <div class="project-tile">
            <div class="card" id="project-card">
              <a href="https://bookexchange19.herokuapp.com/" target="_blank">
                <img class="card-img-top" src='{{path}}{{'projects/book-exchange.png'}}' alt="project">
              </a>
              <div class="card-body" id="card-body">
                <p>Book Exchange App</p>
              </div>
            </div>
          </div>
          <!-- <div class="project-tile">
            <div class="card" id="project-card">
              <a href="https://learning-daybook.herokuapp.com/" target="_blank">
                <img class="card-img-top" src='{{path}}{{'projects/learning-log.png'}}' alt="project">
              </a>
              <div class="card-body" id="card-body">
                <p>Learning Log</p>
              </div>
            </div>
          </div>
          <div class="project-tile">
            <div class="card" id="project-card">
              <a href="https://dkmdebugin.github.io/product_landing_page/main.html" target="_blank">
                <img class="card-img-top" src='{{path}}{{'projects/prod-page.png'}}' alt="project">
              </a>
              <div class="card-body" id="card-body">
                <p>Product Landing Page</p>
              </div>
            </div>
          </div>
          <div class="project-tile">
            <div class="card" id="project-card">
              <a href="https://dkmdebugin.github.io/tribute-page-user-story/main.html" target="_blank">
                <img class="card-img-top" src='{{path}}{{'projects/user-story.png'}}' alt="project">
              </a>
              <div class="card-body">
                <p>User story</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>

    </div>

    {% endwith %}

{% endblock %}
